.idea/
__pycache__/
test.py
DebugTrain/train_ml/solve.py
DebugTrain/train_simple/scene.py

SpiderData/*/
!SpiderData/Preprocess/

TrainInput/

indexdir/
DebugServer/static/
!DebugServer/static/main.css
db.sqlite3

TrainData/Input/
TrainData/Output/

Doc/