.idea/
__pycache__/
test.py
DebugTrain/train_ml/solve.py
DebugTrain/train_simple/scene.py

SpiderData/*/*
!SpiderData/*/Clean/
!SpiderData/*/file_list.xlsx
!SpiderData/Preprocess/

TrainInput/

indexdir/
DebugServer/static/
!DebugServer/static/main.css
db.sqlite3

TrainData/Input/*/
!TrainData/Input/cnblogs/
!TrainData/Input/jianshu/
!TrainData/Input/oschina/
TrainData/Output/

Doc/